html{ box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

.container{
    width:1200px;
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
.search{
    display: flex;
    height:50px;
    margin-top:15px;
    align-items: baseline;
    position: relative;
}
i.fa-search{
    position: absolute;
    font-size: 28px;
    color: black;
    background-color: rgb(239,239,239);
    right: 343px;
    top: 14px;
    padding:7px;
}
i.fa-search:hover{
    background-color:rgb(224,224,224);
}
.logo{
    color:rgb(236,85,38);
    font-size: 45px;
    margin-right: 6px;
}
.search-bar input{
    width:800px;
    height:45px;
    border-radius: 25px;
    background-color: rgb(239,239,239);
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #ccc;
    margin-right:25px;
}
.sell-on-etsy{
    margin-right:20px;
    width:80px;
    color:rgb(31,31,31); 
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}
.register{
    margin-right:20px;
    color:rgb(31,31,31);
    font-family: Arial, Helvetica, sans-serif;
}
button.sign-in{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid rgb(34,34,34);
    margin-right: 20px;
    font-size: 13px;
    white-space: nowrap;
}
button.sign-in:hover{
    background-color: rgb(60,60,60);
    color:white;
}
.cart-logo{
    height: 25px;
    width:50px;
    font-size: 25px;
    color:#666;
    text-decoration: none;
}
.cart-logo:hover{
    color:black;
}
.cart{
    color: #666;
    font-size:15px;
    margin:0px;
    text-decoration: none;
}
a{
    text-decoration: none;
    
    
}
i{
    font-size: 50px;
}
.icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:white;
    border-left: 1px solid rgb(235,235,235);
}
ul{
    margin-bottom: 0px;
}
.search-cat{
    display: flex;
    justify-content: space-between;
    margin-top:35px;
    padding:0px;  
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.search-cat a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    color:rgb(31,31,31);
    padding-bottom: 20px;
}
.search-cat a:hover{
    text-decoration: none;
    border-bottom: 2px solid black;
}
i{
    display: flex;
}
i.fa.fa-gift{
    margin-right:20px;
}
hr{
    margin:0px;
}
ul.bubbles{
    display: flex;
    justify-content: flex-start;
    padding:0px;;
}
.bubbles li{
    list-style: none;
    margin-right: 6px;
    margin-left:0px;
    height:35px;
    color: rgb(31,31,31);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    line-height: 35px;
    background-color: rgb(247,147,111);
    transition: .2s ease;
}
.bubbles a{
    color: rgb(31,31,31);
}
.bubbles a:hover{
    text-decoration: none;
}
.bubbles li:hover{
    background-color: rgb(246,134,97);
    cursor: pointer;
    transform:scale(1.03);
}

/*///////////   BEGINNING OF GRID FOR ITEMS JS  ///////////////*/

.main-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:1200px;
    grid-area: "aside main-divs main-divs main-divs main-divs";
    list-style: none;
    text-decoration: none;
}
.main-divsbox{
    margin-top:20px;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right:50px;
    text-align: center;
}
#main-divs {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0px;
    padding:0px;
    gap:10px;
    font-family: Arial, Helvetica, sans-serif;
}
#main-divs li{
    list-style: none;
    text-decoration: none;
    padding:0px;
}
#main-divs ul{
    padding:0px;
}
#main-divs .img{
    border-radius: 70px;
    display: flex;
}
.img{
    position: relative;
}
#main-divs img:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-decoration: none;
    border-radius: 3px;
}
.main-divs li:hover{
    text-decoration: none;
}
a.mainlist:hover{
    text-decoration: none;
}
a.mainlist:hover i.fa-heart{
    text-decoration: none;
    opacity: 1;
}
a.mainlist:hover img{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.heart{
    position: relative;
    height:50px;
    width:50px;
}
i.fa-heart{
    position: absolute;
    bottom: 297px;
    left: 212px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    transition: .4s ease-in-out;
    color: white;
    border: 6px solid black;
}
li.title{
    color:black;
    width:250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    text-decoration: none;
}
.made-by{
    color:rgb(79,79,79);
    font-size: 12px;
}
.price{
    color:black;
    font-size: 15px;
}
li.views{
    color: rgb(79,79,79);
    text-decoration: none;
}
li.views{
    display: flex;
    font-size: 15px;
}
.rating{
    background-image: url(http://i.stack.imgur.com/oZ9Id.png);
    height:21px;
    width:106px;
    background-repeat: no-repeat;
}
.rate{
    background-image: url(http://i.stack.imgur.com/oZ9Id.png);
    background-position: 0px -100px;
    height:21px;
    width:106px;
    width:70%;
    background-repeat: no-repeat;
}
.when-made{
    color: rgb(31,31,31);
    font-size: 15px;
}

/* ////////////////////////////// BEGINNING OF SIDE BAR CSS */
ul.aside-list li{
    list-style: none;
    margin-bottom: 10px;
    color: rgb(53,53,53);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:50px;
    padding-left: 0px;
    display: flex;
    white-space: nowrap;
}
ul.aside-list a{
    color:rgb(34,34,34);
}
ul.aside-list {
    padding-left: 0px;
    margin-top:-680px;
}
select{
    width: 220px;
    height: 30px;
    border:1px solid rgb(164,164,160);
    background-color: white;
}
div.lowtohigh{
    display: flex;
    align-items: baseline;
    width:0px;
    justify-content: flex-start;
    margin-left:17px;
    margin-top:-5px;
}
.lowtohight{
    padding:0px;
    margin-right:10px;
}
.lowtohigh input{
    width:70px;
    height:40px;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 10px;
}
li.boxes{
    width: 50px;
    margin-right:0px;
}
.low{
    margin-right:10px;
}
.high{
    margin-right:10px;
}
input{
    outline:none;
}
.locationboxes{
    width:140px;
}
.locationbox{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
a:hover{
    display:pointer;
    text-decoration: underline;
}
.show-more{
    color:rgb(106,106,106);
}
.fa.fa-plus{
    font-size: 18px;
}
.show-more:hover{
    display: flex;
    align-items: center;
    background-color:#ccc;
    border-radius: 20px;
    width:150px;
    text-align: center;
    padding-left: 10px;
}
li.all-cats, .show-more{
    font-weight: bold;
}
.fa-chevron-right{
    color:rgb(31,31,31);
}
input.locationbox{
    margin-right: 20px;
    height: 35px;
    width: 122px;
    margin-left: 19px;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -3px;
    border:1px solid #ccc;
}
label:hover{
    text-decoration: underline;
}
i.chev::before{
    margin-right:20px;
}

/* ////////////////////////////*/
/* LINE BETWEEN IMAGES AND HEADER */

.category-results{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top:-25px;
}
.category1{
    margin-right:
    15px;
    display: flex;
    white-space: nowrap;
}
.category1 a{
    color:rgb(34,34,34);
}
.category2{
    margin-right:562px;
    white-space: nowrap;
}
.category3{
    display: flex;
    white-space: nowrap;
}
.category1 i{
    font-size: 15px;
}
footer{
   height:600px;
    background: url("https://watercoloraffair.com/wp-content/uploads/2018/03/tone-and-depth.jpg") no-repeat center center fixed; 
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    margin-top:-200px;
    padding:0px;
}
.nextPage{
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom:-66px;
    align-content: center;
}
.pages{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 50%;
    margin-right:10px;
    background-color: rgb(239,239,239);
    height:40px;
    width:40px;
    text-align: center;
    line-height:42px;
}
.pages:hover{
    background-color:rgb(222,222,222);
    text-decoration: none;
}
.pages a:hover{
    text-decoration: none;
}
.pages a{
    color:rgb(34,34,34);
}